.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    // background-color: var(--bgGrey);
    border-radius: 10px;
    margin: 10px;
    min-height: 85px;
    min-width: calc(245px - 80px);
    .profil {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--bgWhite);
        min-width: 50px;
        min-height: 50px;
        border-radius: 100%;
        background-color: #{rgba(random(255),random(255),random(255))};
        margin-right: 30px;
    }
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: calc(100% - 80px);
        overflow-wrap: break-word;
    }
}