.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 22px;
    .tools {
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: center;
        margin-bottom: 40px;
        .forgot {
            color: var(--bgMain);
            text-decoration: none;
            cursor: pointer;
        }
        .rememberMe {
            input {
                cursor: pointer;
            }
        }
    }
    .loginFail {
        color: red;
        font-size: 14px;
        height: 32px;
    }
    .toolsButtom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        button {
            font-size: 22px;
            padding: 10px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 10px;
            cursor: pointer;
        }
        .guest {
            background-color: var(--bgWhite);
            border: 1px solid var(--bgGrey);
            color: var(--fontGrey);
        }
        .login {
            border: none;
            background-color: var(--bgMain);
            color: var(--bgWhite);
        }
    }
    h2 {
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 4px solid var(--bgMain);
    }
    .input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        border-bottom: 1px solid var(--bgGrey);
        margin-bottom: 40px;
        padding-bottom: 5px;
        input {
            border: none;
            outline: none;
            font-size: 22px;
            width: 100%;
            padding-left: 30px;
        }
        img {
            padding-right: 30px;
        }
    }
}

@media (max-width:1300px) {
    .main {
        .toolsButtom {
            button {
                padding: 10px 15px !important;
            }
        }
    }
}

@media (max-width:480px) {
    .main {
        padding: 0px;
        .tools {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .forgot {
                margin-top: 20px;
            }
        }
        .toolsButtom {
            width: 90%;
            button {
                padding: 10px 30px;
            }
        }
        h2 {
            margin-top: 20px;
        }
    }
}