.main {
    display: flex;
    flex-direction: column;
    .greeting {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        h2 {
            font-size: 48px;
        }
        mark {
            background-color: transparent;
            color: var(--bgMain);
        }
    }
    .topPart {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .taskBig {
            display: flex;
            background-color: var(--bgMain);
            width: 75%;
            color: var(--bgWhite);
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            .urgent {
                padding-left: 40px;
                padding-right: 40px;
                border-right: 2px solid var(--bgWhite);
                #urgent {
                    margin-bottom: 40px;
                    border: 2px solid var(--bgWhite);
                    border-radius: 100%;
                }
            }
            .date {
                flex-direction: column;
                padding-left: 40px;
                padding-right: 40px;
                h1 {
                    font-size: 48px;
                    margin-bottom: 20px;
                }
            }
            p {
                color: var(--bgWhite);
            }
        }
    }
    .bottomPart {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .task {
        width: 25%;
        margin: 10px;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &:hover {
            background-color: rgb(245, 245, 245)
        }
        .taskTop {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            h3 {
                font-size: 28px;
            }
        }
        p {
            font-size: 24px;
            color: var(--bgMain);
            text-align: center;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border-radius: 20px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    //  border: 1px solid grey;
}

.lightblue {
    background-color: var(--selected);
}

@media (max-width:480px) {
    .main {
        height: calc(100vh - 161px);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .greeting {
            margin-top: 20px;
            text-align: center;
            height: fit-content;
            h2 {
                font-size: 38px;
                margin-bottom: 0;
            }
        }
        .topPart {
            flex-direction: column;
            .task {
                flex-direction: row;
                align-items: center;
                .taskTop {
                    align-items: center;
                    h3 {
                        margin: 0;
                    }
                }
            }
            .taskBig {
                flex-direction: column;
                width: 85%;
                .urgent {
                    border: none;
                    #urgent {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .task {
            width: calc(45% - 40px);
            padding: 5px 20px;
            min-height: fit-content !important;
        }
        .bottomPart {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .lightblue {
        width: 85% !important;
    }
}