.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 22px;
    position: relative;
    .input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        border-bottom: 1px solid var(--bgGrey);
        margin-bottom: 40px;
        padding-bottom: 5px;
        input {
            border: none;
            outline: none;
            font-size: 22px;
            width: 100%;
            padding-left: 30px;
        }
        img {
            padding-right: 30px;
        }
    }
    .commit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        .error {
            color: red;
            animation: 0.6s shake;
        }
        .signUp {
            background-color: var(--bgMain);
            border: none;
            border-radius: 10px;
            color: var(--bgWhite);
            font-size: 24px;
            padding: 10px;
            cursor: pointer;
            width: fit-content;
        }
    }
    .back {
        position: absolute;
        left: 30px;
        top: 30px;
        cursor: pointer;
    }
}

h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 4px solid var(--bgMain);
}

@media (max-width:480px) {
    .main {
        padding: 20px 0;
    }
}