.main {
    padding: 20px;
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    .category {
        padding: 10px;
        background-color: var(--design);
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        margin-bottom: 20px;
        p {
            margin: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: var(--bgWhite);
            font-size: 20px;
        }
    }
    .userList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .priority {
            mat-icon {
                color: red;
            }
        }
    }
    h2 {
        color: var(--bgMain);
    }
    p {
        color: var(--bgGrey);
    }
}