.main {
    padding: 20px;
    width: calc(100% - 60px);
    height: fit-content;
    margin: 10px;
    &:hover {
        background-color: rgb(245, 245, 245);
        cursor: pointer;
    }
    .category {
        padding: 10px;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        margin-bottom: 20px;
        p {
            margin: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: var(--bgWhite);
            font-size: 20px;
        }
    }
    .userList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .priority {
            mat-icon {
                color: red;
            }
        }
    }
    h2 {
        color: var(--bgMain);
    }
    p {
        color: var(--bgGrey);
    }
}

.Design {
    background-color: var(--design);
}

.Sales {
    background-color: var(--sales);
}

.Backoffice {
    background-color: var(--backoffice);
}

.Marketing {
    background-color: var(--marketing);
}

.Media {
    background-color: var(--media);
}