.main {
    height: 100%;
    width: 100%;
    padding-left: 60px;
    padding-top: 60px;
    .headInfo {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        .profil {
            background-color: orange;
            border-radius: 100%;
            border: 1px solid var(--bgWhite);
            box-shadow: 0 0 1px 3px rgba(136, 136, 136, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 80px;
            min-height: 80px;
            margin-right: 80px;
            color: var(--bgWhite);
            font-size: 32px;
        }
        .name {
            h1 {
                font-size: 54px;
            }
            .addTask {
                display: flex;
                align-items: center;
                color: var(--bgMain);
                font-size: 26px;
            }
        }
    }
    .infos {
        .contactInfo {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            justify-content: space-between;
            .edit {
                display: flex;
                align-items: center;
                color: var(--bgMain);
                font-size: 20px;
                mat-icon {
                    margin-right: 10px;
                }
            }
        }
        .email {
            a {
                color: var(--bgMain);
                text-decoration: none;
            }
        }
        h1,
        h2 {
            font-weight: bold;
            margin: 0;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        p {
            font-size: 20px;
            padding-left: 20px;
        }
    }
}