.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--bgMain);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    .logo {
        cursor: pointer;
    }
    .tools {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;
        .profil {
            button {
                border: 5px solid var(--bgWhite);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                img {
                    border-radius: 100%;
                    width: 50px;
                    height: 50px;
                }
            }
        }
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        p {
            margin: 0;
            color: var(--bgWhite);
        }
    }
}

@media (max-width:1300px) {
    .main {
        .tools {
            width: 40%;
        }
    }
}

@media (max-width:900px) {
    .main {
        .tools {
            width: 70%;
        }
    }
}

@media (max-width:480px) {
    .main {
        padding-left: 20px;
        padding-right: 20px;
        .tools {
            width: fit-content;
            p {
                display: none;
            }
            .profil {
                margin-left: 20px;
            }
        }
    }
}