.main {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 700px;
    width: 100%;
    .header {
        padding: 24px 24px 0 24px;
        color: var(--bgWhite);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(210px - 24px);
        min-width: calc(100% - 48px);
        background-color: var(--bgMain);
        h2 {
            font-size: 32px;
            margin: 10px;
        }
        p {
            margin: 10px;
        }
    }
    .content {
        min-height: 490px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .profilPic {
            max-width: 100px;
            max-height: 100px;
        }
        .inputs {
            display: flex;
            flex-direction: column;
            align-items: center;
            .input {
                height: 56px;
                width: 100%;
                border-bottom: 1px solid var(--bgGrey);
                display: flex;
                align-items: center;
                justify-content: space-between;
                input {
                    font-size: 24px;
                    border: none;
                    outline: none;
                    font-size: 22px;
                    width: 100%;
                    margin-bottom: 5px;
                    margin-left: 20px;
                    color: var(--bgGrey);
                    &::placeholder {
                        color: var(--bgGrey);
                    }
                    &:focus {
                        color: black;
                    }
                }
                img {
                    margin-right: 20px;
                }
            }
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            button {
                border: none;
                outline: none;
                border-radius: 10px;
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin: 10px 10px;
                    font-size: 24px;
                }
            }
            .cancel {
                background-color: var(--bgWhite);
                color: var(--bgGrey);
                border: 1px solid var(--bgGrey);
            }
            .create {
                background-color: var(--bgMain);
                color: var(--bgWhite);
            }
        }
    }
    .backBtn {
        position: absolute;
    }
}