.main {
    width: 100%;
    display: flex;
    min-height: 500px;
    height: 100%;
    .contacts {
        width: calc(25% - 70px);
        min-width: fit-content;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 130px);
        padding-right: 70px;
        padding-top: 50px;
        border-right: 1px solid grey;
        &::-webkit-scrollbar {
            display: none;
        }
        .contactsByLetter {
            .contactSingle {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            .letterLine {
                border-bottom: 1px solid grey;
                margin-bottom: 30px;
                margin-top: 30px;
                p {
                    padding-left: 20px;
                }
            }
        }
    }
    .rightSide {
        width: 75%;
        position: relative;
        .contact-detail {
            width: 100%;
            height: 85%;
        }
        button {
            color: var(--bgWhite);
            background-color: var(--bgMain);
            border: none;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            right: 0;
            bottom: 10%;
            position: absolute;
            cursor: pointer;
            font-size: 18px;
        }
    }
}

@media (max-width:1300px) {
    .main {
        // height: 500px;
        .contacts {
            padding-right: 20px;
            padding-top: 20px;
            height: calc(100% - 20px);
            min-width: 270px;
        }
        .rightSide {
            width: calc(100% - 291px);
            button {
                right: 50px;
            }
        }
    }
}

@media (max-width:900px) {
    .main {
        .contacts {
            width: auto;
            padding-right: 10px;
            padding-left: 10px;
            min-width: 95px;
            .contactsByLetter {
                .contactSingle {
                    .letterLine {
                        p {
                            padding: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .rightSide {
            width: calc(100% - 116px);
        }
    }
}

@media (max-width:480px) {
    .main {
        .contacts {
            min-width: fit-content;
        }
        .rightSide {
            width: calc(100% - 91px);
            button {
                right: 65px;
                bottom: 20px;
            }
        }
    }
}