.main {
    width: 100%;
    display: flex;
    .contacts {
        width: calc(25% - 70px);
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 130px);
        padding-right: 70px;
        padding-top: 50px;
        border-right: 1px solid grey;
        &::-webkit-scrollbar {
            display: none;
        }
        .contactsByLetter {
            .contactSingle {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            .letterLine {
                border-bottom: 1px solid grey;
                margin-bottom: 30px;
                margin-top: 30px;
                p {
                    padding-left: 20px;
                }
            }
        }
    }
    .rightSide {
        width: 70%;
        position: relative;
        .contact-detail {
            width: 70%;
            height: 85%;
        }
        button {
            color: var(--bgWhite);
            background-color: var(--bgMain);
            border: none;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            right: 0;
            bottom: 50px;
            position: absolute;
            cursor: pointer;
        }
    }
}

@media (max-width:1300px) {
    .main {
        height: 500px;
        .contacts {
            padding-right: 30px;
            padding-top: 20px;
            height: calc(100% - 20px);
        }
    }
}

@media (max-width:480px) {
    .main {
        height: calc(100vh - 161px);
        align-items: center;
        justify-content: center;
        .rightSide {
            display: none;
        }
        .contacts {
            width: 90%;
            padding: 0;
            height: 100%;
            overflow-y: scroll;
            border: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}