.main {
    display: flex;
    position: relative;
    app-sidebar {
        width: 210px;
        z-index: 1;
    }
    .content {
        max-width: calc(100% - 210px);
        min-width: calc(100% - 410px);
        padding-left: 100px;
        padding-right: 100px;
        background-color: var(--bgWhite);
    }
    app-logout-button {
        position: absolute;
        bottom: 20px;
        right: 15px;
    }
}

.userFeedbacks {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 150px);
}

app-header {
    z-index: 2;
}

@media (max-width:1300px) {
    .main {
        height: calc(100vh - 80px) !important;
        .content {
            padding: 0 30px;
            min-width: calc(100vw - 260px) !important;
            max-width: calc(100vw - 260px) !important;
        }
        app-logout-button {
            opacity: 0.3;
            &:hover {
                opacity: 1;
            }
        }
    }
}

@media (max-width:480px) {
    .main {
        height: calc(100vh - 80px);
        width: 100vw;
        .content {
            max-width: none;
            padding: 0;
            width: 100vw;
            height: calc(100vh - 161px);
        }
        app-sidebar {
            position: absolute;
            bottom: 0;
            width: 100vw;
            height: fit-content;
        }
        app-logout-button {
            height: 40px;
            top: -60px;
            left: 35%;
            right: 0;
            bottom: 0;
            width: fit-content;
        }
    }
}