.main {
    margin-top: 100px;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border: none;
            background-color: transparent;
            color: var(--bgMain);
            cursor: pointer;
            &:hover {
                background-color: var(--bgWhite);
                color: var(--bgWhite);
                border-radius: 100%;
                padding: 5px;
                border: 2px solid var(--bgMain);
                transform: scale(1.2);
            }
        }
    }
    .text {
        h3 {
            font-size: 34px;
            margin-right: 20px;
        }
        .howto {
            margin-top: 50px;
            .steps {
                display: flex;
                align-items: flex-start;
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    h1,
    h3 {
        color: var(--bgMain);
    }
    h1 {
        font-size: 48px;
    }
}

@media (max-width:480px) {
    .main {
        margin: 20px 10px;
        height: calc(100vh - 201px);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}