    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: var(--bgWhite);
        padding: 5px;
        box-shadow: 5px -3px 2px -3px rgba(0, 0, 0, 0.2);
        height: calc(100vh - 90px);
        .nav {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 50px;
            width: calc(100% - 30px);
            display: flex;
            flex-direction: column;
            a {
                display: flex;
                align-items: center;
                justify-content: start;
                cursor: pointer;
                text-decoration: none;
                color: var(--fontGrey);
                mat-icon,
                img {
                    margin-right: 10px;
                    color: var(--bgMain);
                }
            }
            .link {
                background-color: white;
                padding: 5px;
                margin-bottom: 5px;
                margin-top: 5px;
                width: calc(100% - 10px);
            }
        }
    }