    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: var(--bgWhite);
        padding: 5px;
        box-shadow: 5px 0px 2px -3px rgba(0, 0, 0, 0.2);
        height: calc(100vh - 90px);
        min-width: 210px;
        .nav {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 50px;
            width: calc(100% - 50px);
            display: flex;
            flex-direction: column;
            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                text-decoration: none;
                color: var(--fontGrey);
                mat-icon,
                img {
                    margin-right: 10px;
                    color: var(--bgMain);
                }
            }
            .link {
                background-color: white;
                padding: 5px;
                margin-bottom: 5px;
                margin-top: 5px;
                width: calc(100% - 10px);
                img {
                    padding-left: 10px;
                }
                p {
                    font-size: 16px;
                    padding-right: 10px;
                    margin: 0;
                }
            }
            .legalNotice {
                padding: 5px;
                img {
                    margin-right: 0;
                }
                p {
                    font-size: 16px;
                    padding: 5px;
                    margin: 0;
                }
            }
        }
    }
    
    .bgBlue {
        background-color: var(--bgMain) !important;
        color: var(--bgWhite) !important;
        border-radius: 10px;
    }
    
    .selected {
        background-color: var(--selected) !important;
        border-radius: 10px;
    }
    
    @media (max-width:480px) {
        .main {
            height: fit-content;
            flex-direction: row;
            width: calc(100% - 10px);
            .nav {
                flex-direction: row;
                padding: 0;
                min-width: 100%;
                .legalNotice {
                    display: none;
                }
                a {
                    flex-direction: column;
                }
                .legaldiv {
                    display: none;
                }
                .link {
                    align-items: center;
                    img {
                        padding: 0;
                        margin: 0 0 5px 0;
                    }
                    p {
                        padding: 0;
                    }
                }
            }
        }
    }