:root {
    --bgMain: #4589FF;
    --bgSecondary: #005DFF;
    --bgWhite: #FFFFFF;
    --bgGrey: #D1D1D1;
    --borderGrey: #A8A8A8;
    --buttonGrey: #647188;
    --font: #2A3647;
    --fontGrey: #42526E;
    --selected: #D2E3FF;
    //category colors
    --design: #FF7A00;
    --sales: #FC71FF;
    --backoffice: #1FD7C1;
    --marketing: #0038FF;
    --media: #FFC701;
    //priorities
    --low: #7FE331;
    --medium: #FFA800;
    --urgent: #FF4409;
}

//CP=Cursor Pointer
.CP {
    cursor: pointer;
}

.sidepadding {
    padding-left: 60px;
    padding-right: 60px;
}

.border {
    border-radius: 20px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

.borderScroll {
    border-radius: 20px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--bgMain);
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button,
textarea {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    padding: 0 !important;
    border-radius: 0 20px 0 0 !important;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1) !important;
    width: 500px !important;
    min-height: 700px !important;
}

.mat-form-field-flex {
    background-color: transparent !important;
}

.cdk-overlay-pane {
    width: auto !important;
}

.Design {
    background-color: var(--design);
}

.Sales {
    background-color: var(--sales);
}

.Backoffice {
    background-color: var(--backoffice);
}

.Marketing {
    background-color: var(--marketing);
}

.Media {
    background-color: var(--media);
}

//priorities
.urgent {
    background-color: var(--urgent);
    color: var(--bgWhite);
}

.medium {
    background-color: var(--medium);
    color: var(--bgWhite);
}

.low {
    background-color: var(--low);
    color: var(--bgWhite);
}

@keyframes shake {
    0%,
    10% {
        transform: skewX(-15deg);
    }
    5%,
    15% {
        transform: skewX(15deg);
    }
    20%,
    100% {
        transform: skewX(0deg);
    }
}

@media (max-width:480px) {
    .sidepadding {
        padding: 0px;
    }
    .mat-dialog-container {
        min-width: 100% !important;
    }
    .cdk-overlay-pane {
        min-width: 80vw;
    }
}