:root {
    --bgMain: #4589FF;
    --bgSecondary: #005DFF;
    --bgWhite: #FFFFFF;
    --bgGrey: #D1D1D1;
    --borderGrey: #A8A8A8;
    --buttonGrey: #647188;
    --font: #2A3647;
    --fontGrey: #42526E;
    --selected: #D2E3FF;
    //category colors
    --design: #FF7A00;
    --sales: #FC71FF;
    --backoffice: #1FD7C1;
    --marketing: #0038FF;
    --media: #FFC701;
}

body {
    margin: 0;
}

.sidepadding {
    padding-left: 60px;
    padding-right: 60px;
}

.border {
    border-radius: 20px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    border-radius: 20px !important;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1) !important;
    min-width: 500px !important;
    min-height: 700px !important;
}

.cdk-overlay-pane {
    width: auto !important;
}