.main {
    background-color: var(--bgMain);
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        position: absolute;
        top: 100px;
        left: 100px;
    }
    .signUp {
        position: absolute;
        top: 100px;
        right: 100px;
        display: none;
        align-items: center;
        font-size: 24px;
        height: fit-content;
        width: 100%;
        p {
            margin: 0;
            margin-right: 50px;
        }
        button {
            background-color: var(--bgMain);
            border: none;
            border-radius: 10px;
            color: var(--bgWhite);
            font-size: 24px;
            padding: 10px;
            cursor: pointer;
        }
    }
    .content {
        min-width: 40%;
        min-height: 50%;
        background-color: var(--bgWhite);
    }
}

.white {
    background-color: var(--bgWhite) !important;
}

.signUpTrue {
    display: flex !important;
}

@media (max-width:480px) {
    .main {
        .logo {
            top: 30px;
            left: 30px
        }
        .signUp {
            top: 90vh;
            right: 0;
            justify-content: center;
        }
    }
}